.item_left {
  color: #435370;
}

.icon_left {
  color: #435370;
  margin-right: 5px;
  margin-left: 5px;
}

.side-bar {
  height: 100%;
  background-color: #FFF;
}

.side_ {
  background-color: white;
}

.content {
  padding: 16px;
  background-color: #F8F8F8;
}

.side_menu {
  color: #FFF;
  background-color: #4477CE;
  border-radius: 11.822px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  width: 26.6px;
  text-align: center;
  margin-left: 5ppx;
  margin-right: 5px;
}

.side_menu:hover {
  transform: scale(1.2);
}

.side_ span:hover {
  background-color: #2B56A1;
  color: white;
}

.side_ .icon_left:hover {
  background-color: white;
  color: #4477CE;
  border-radius: 7px;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.sidebar{
background-color: #2B56A1;
height: 100%;
}

.sidebar-section-1{
background-color: #4477CE;
}


.sidebar-section-2{
  margin-inline-end: auto;
  align-content: end;
  
}

