<mat-sidenav-container class="side-bar" autosize>
  <mat-sidenav class="side_" #sidenav mode="side" opened="true">
    <div class="sidebar">
      <div class="sidebar-section-1">
        <mat-nav-list>
          <mat-list-item (click)="isExpanded = !isExpanded">
            <a>
              <mat-icon class="side_menu">menu</mat-icon>
            </a>
          </mat-list-item>

          <mat-list-item class="centered">
            <mat-icon class="icon_left">home</mat-icon>
            <span class="item_left" *ngIf="isExpanded">Home</span>
          </mat-list-item>

          <mat-list-item>
            <a (click)="opened = !opened" routerLink="/bandeja-de-tramite">
              <mat-icon class="icon_left">inbox</mat-icon>
              <span class="item_left" *ngIf="isExpanded"
                >Bandeja de entrada</span
              >
            </a>
          </mat-list-item>
          <mat-list-item>
            <a>
              <mat-icon class="icon_left">library_books</mat-icon>

              <span class="item_left" *ngIf="isExpanded">Fichero cliente</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a>
              <mat-icon class="icon_left">find_in_page</mat-icon>
              <span class="item_left" *ngIf="isExpanded"
                >Explorador informes</span
              >
            </a>
          </mat-list-item>
          <mat-list-item>
            <a>
              <mat-icon class="icon_left">notifications</mat-icon>
              <span class="item_left" *ngIf="isExpanded">Notificaciones </span>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
    <div class="sidebar-section-2">
      <a class="config-btn">
        <mat-icon id="Add-icon">add</mat-icon>
        <span *ngIf="isExpanded">Más</span>
      </a>
      <br />
      <a class="config-btn">
        <mat-icon id="Setting-icon">settings</mat-icon>
        <span *ngIf="isExpanded">Configuración</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="Background-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
