<mat-sidenav-container class="side_conten" autosize>

  <mat-sidenav class="sidenav" #sidenav mode="side" opened="true">
    <div class="sidebar">


      <div class="sidebar-section-1">

        <mat-nav-list>
          <mat-list-item>

            <button (click)="opened=opened">
              <mat-icon class="side_menu" (click)="isExpanded=!isExpanded">menu</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>

            <mat-icon class="icon_left">home</mat-icon>
            <span class="item_left" *ngIf="isExpanded">Home</span>


          </mat-list-item>
          <mat-list-item>
            <a (click)="opened=!opened" routerLink="/bandeja-de-tramite">

              <mat-icon class="icon_left">inbox</mat-icon>
              <span class="item_left" *ngIf="isExpanded">Bandeja de entrada</span>


            </a>
          </mat-list-item>
          <mat-list-item>
            <a>
              <mat-icon class="icon_left">library_books</mat-icon>

              <span class="item_left" *ngIf="isExpanded">Fichero cliente</span>
            </a>
          </mat-list-item>
          <mat-list-item >
            <a >
              <mat-icon class="icon_left">find_in_page</mat-icon>
              <span class="item_left" *ngIf="isExpanded">Explorador informes</span>

            </a>
          </mat-list-item>
          <mat-list-item>
            <a>
              <mat-icon class="icon_left">notifications</mat-icon>
              <span class="item_left" *ngIf="isExpanded">Notificaciones </span>
            </a>
          </mat-list-item>
        </mat-nav-list>

      </div>
      <div class="sidebar-section-2" >



        <button class="config-btn" >
          <mat-icon >add</mat-icon>
          <span *ngIf="isExpanded">Más</span>
        </button>
        <button class="config-btn" >
          <mat-icon >settings</mat-icon>
          <span *ngIf="isExpanded">Configuración</span>
        </button>



      </div>
    </div>



  </mat-sidenav>



  <mat-sidenav-content class="contenido">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
