<mat-card>
  <br>
  <mat-card-title class="main-title">
    Consulta y Corrección de Transacciones
  </mat-card-title>
  <mat-card-actions>
    <div class="Input-select">
      <mat-label>Empresa</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>


    <div class="Input-select">
      <mat-label>Oficina</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>

    <div class="Input-select">
      <mat-label>Región según oficina</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>

    <div class="Input-select">
      <mat-label>Monedas transacciones</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>

    <div class="Input-select">

      <mat-label>Tipos de operaciones</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>

    <div class="Input-select">
      <mat-label>Correción y contrapartida</mat-label>
      <mat-select>
        <mat-option value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </div>
  
  </mat-card-actions>
  <mat-card-actions>
    <mat-card-actions>
      <div class="Input-select">
        <label>Inicio:
          <input class="Calendar" type="date" id="endDate">
        </label>
      </div>
    </mat-card-actions>
  </mat-card-actions>


  <mat-card-content class="text1">
    <mat-card-actions class="de">
      <mat-card-actions>
        <mat-card-title class="text1">
          <span>Deductibilidad</span>
        </mat-card-title>

      </mat-card-actions>
      <mat-card-actions class="text1">
        <mat-card-title>
          <span>No. Deductible / Ing. Evento </span>
        </mat-card-title>
      </mat-card-actions>
      <mat-card-actions>
        <mat-card-title class="text1">
          <span>Tarifa</span>
        </mat-card-title><br>
      </mat-card-actions>

      <mat-card-title class="text1">
        <span>Tipo de transacción</span>
      </mat-card-title>
    </mat-card-actions>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <mat-card-content class="RadioButton-Text-One">
      <label class="container" >
        <input type="radio"  name="Todos">Todos
        <span class="checkmark"></span>
      </label>

      <label class="container">
        <input type="radio"  name="Evento">Ing. Evento
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Ing. Gravado
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Gto. Deducible
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Gto. No deducible
        <span class="checkmark"></span>
      </label>
    </mat-card-content>

    <mat-card-content class="RadioButton-Text-Second">
      <label class="container">
        <input type="radio"  name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">No definitivo
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Definitivo
        <span class="checkmark"></span>
      </label>
    </mat-card-content>

    <mat-card-content class="RadioButton-Text-Three">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Cero
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Grabado
        <span class="checkmark"></span>
      </label>

    </mat-card-content>

    <mat-card-content class="RadioButton-Text-Four">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Ordinario
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Extraordinario
        <span class="checkmark"></span>
      </label>

    </mat-card-content>
  </mat-card-actions>
  <br>

</mat-card>
<br>

<br>
<br>
<mat-card>
  <mat-card-content class="Title-Level-Three">
    <mat-card-actions>
      <mat-card-title id="MainName">
        Combinacion
      </mat-card-title>
      <mat-card-title id="SecondName">
        Limpiar combinaciones
      </mat-card-title>
    </mat-card-actions>
  </mat-card-content>

  <mat-card-content>
    <mat-card-actions>
      <span class="TextName--">Mayor</span>
      <mat-card-actions>
        <div class="Input-Search-Container">
          <input type="text" id="Input-Search">
          <button type="button" id="Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <label>
          <input class="Input-Text">
        </label>


        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

      </mat-card-actions>
    </mat-card-actions>
  </mat-card-content>

  <mat-card-content>
    <mat-card-actions>
      <p> Detalle <br> Auxiliar </p>
      <mat-card-actions>
        <div class="Input-Search-Container">
          <input type="text" id="Input-Search">
          <button type="button" id="Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <label>
          <input class="Input-Text">
        </label>

        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button2" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

        <div class="input-right">
          <input type="text" id="Input-Search-Right">
          <button type="button" id="Right-Search-Button">
            <mat-icon>search</mat-icon>
          </button>
        </div>

      </mat-card-actions>
    </mat-card-actions>
  </mat-card-content>
</mat-card>