<mat-card>
  <br>
  <mat-card-title class="titulo">
    Consulta y Corrección de Transacciones
  </mat-card-title>
  <mat-card-actions>
    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">EMPRESA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion1" value="CONTILEG S.A.">CONTILEG S.A.</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">OFICINA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion" value="CONTILEG S.A.">CYL GYE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">OFICINA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion" value="CONTILEG S.A.">CYL GYE</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">OFICINA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion" value="CONTILEG S.A.">CYL GYE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">OFICINA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion" value="CONTILEG S.A.">CYL GYE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="combobox">
      <mat-label class="combo_titulo">OFICINA</mat-label>
      <mat-select class="combo_opcion">
        <mat-option class="combo_opcion" value="CONTILEG S.A.">CYL GYE</mat-option>
      </mat-select>

    </mat-form-field>
  </mat-card-actions>
  <mat-card-actions>
    <mat-card-actions>
      <div class="combobox">
        <label>Inicio:
          <input class="calen_" type="date" id="endDate">
        </label>
      </div>
    </mat-card-actions>
  </mat-card-actions>


  <mat-card-content class="text1">
    <mat-card-actions class="de">
      <mat-card-actions>
        <mat-card-title class="text1">
          <span>Deductibilidad</span>
        </mat-card-title>

      </mat-card-actions>
      <mat-card-actions class="text1">
        <mat-card-title>
          <span>No. Deductible / Ing. Evento </span>
        </mat-card-title>
      </mat-card-actions>
      <mat-card-actions>
        <mat-card-title class="text1">
          <span>Tarifa</span>
        </mat-card-title><br>
      </mat-card-actions>

      <mat-card-title class="text1">
        <span>Tipo de transacción</span>
      </mat-card-title>
    </mat-card-actions>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions>
    <mat-card-content class="text2">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>

      <label class="container">
        <input type="radio" checked="checked" name="radio">Ing. Evento
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Ing. Gravado
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Gto. Deducible
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Gto. No deducible
        <span class="checkmark"></span>
      </label>
    </mat-card-content>

    <mat-card-content class="text3">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">No definitivo
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Definitivo
        <span class="checkmark"></span>
      </label>
    </mat-card-content>

    <mat-card-content class="text4">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Cero
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Grabado
        <span class="checkmark"></span>
      </label>

    </mat-card-content>

    <mat-card-content class="text5">
      <label class="container">
        <input type="radio" checked="checked" name="radio">Todos
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Ordinario
        <span class="checkmark"></span>
      </label>
      <label class="container">
        <input type="radio" checked="checked" name="radio">Extraordinario
        <span class="checkmark"></span>
      </label>

    </mat-card-content>
  </mat-card-actions>
  <br>

</mat-card>
<br>
<br>
<mat-card>
  <mat-card-actions>
    <div class="contenedor">
      <div class="contenedor2">
        <div class="input_2">
          <input type="text" id="busqueda">
          <button type="button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>



  </mat-card-actions>
</mat-card>
