<mat-toolbar class="header" >
  <img class="image"
    src="https://s3-alpha-sig.figma.com/img/909e/28b1/594e705c1a901920d4562c8e46a3fc4c?Expires=1701043200&Signature=jjxPxdOX4ds62vMVBvYbH~j82egLJ6qdqjB4FZcOQp3uqL4Mm3MjYb30SqxKbG2wM5tFVHCInzUkU9WJPzMzVXi-1Z3k0g5sCkIZQOdGyB~fXkpHpGcUtU~Lr42zc-P1hMVrS4snUdjxVx7EvzqOm1ouI0sn94V~EeHll3QF-eUIJmIlYYkZBeo-ed7tJU7mUlb~sDxezap2md1KWCCyMdWSNRX5zziQVJl3LeZRMMVEfvJdqPyT4frnBZAAoy7IblEIdvhmwiKhvF7FLrXw4KkLi4eVaYZEV2w3-BbF6jUHic0nbnIE07hPsBGs0mCaKpKmdJ9nAZue~fj-OvZGJg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
  <button mat-button class="log-out">
    <span>cerrar sesion</span>
  </button>

  <img src="https://images.pexels.com/photos/1181686/pexels-photo-1181686.jpeg?auto=compress&cs=tinysrgb&w=600"
  alt="Avatar" class="avatar">

<div style="width: 12px; height: 12px; transform: rotate(6.32deg); transform-origin: 0 0" class="active"> </div>

</mat-toolbar>
